{% assign conferences = site.data.conferences %}
{% if conferences %}
<section class="section conferences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ conferences.title }}
  </h2>

  {% if conferences.intro %}
  <div class="intro">
    {{ conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for conferences in conferences.events %}
  <div class="item">
    {% if conferences.link %}
      <li><a href="{{ conferences.link }}">{{ conferences.name }}</a>{% if conferences.place %}, {{ conferences.place }}{% endif %}</li>
    {% else %}
      <li>{{ conferences.name }}{% if conferences.place %}, {{ conferences.place }}{% endif %}</li>
    {% endif %}
    <div class="publication-authors">{{ conferences.time }}</div>
  
  {% if conferences.details %}
    <div class="publication-conference">
      {{ conferences.details | markdownify }}
    </div><!--//details-->
    {% endif %}
  </div><!--//item-->

  {% endfor %}

</section><!--//section-->
{% endif %}
